li {
  font-size: 2rem;
  display: flex;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  font-size: 1.5rem;
  margin: auto 0 auto 0;
}

.page-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
